language: node_js
node_js:
 - '10'
services:
  - docker
before_install:
  - docker build -t image-sequencer-app .
  - docker-compose build

script: npm test
install:
 - npm install
os:
  - linux
  # - osx : No docker support
